# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
*.tgz

# Tauri / Rust
src-tauri/target/
src-tauri/gen/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode-test
*.pid
*.pid.lock

# Env
.env
.env.*
!.env.example
